.ndt-details {
    border: 3px solid rgb(200, 200, 200);
    margin-right: 10px;
}


.test-image,
.test-info {
    padding: 15px;
    display: inline-block;
}

.test-image {
    width: 40%;
}

.test-info {
    width: 59%;
    vertical-align: top;
}

.list-test-details {
    font-weight: 600;
}

.list-test-details .list-item {
    /*width: 49%;*/
}

.btn {
    vertical-align: bottom;
}