{% extends 'shared/site.html' %}  {# index.html inherits site.html #}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block site_title %}
    NDT of Building Structures
{% endblock %}

{% block site_content %}
    <section class="banner">
        <header>
            <h1 class="info-title"> Non-Destructive Test Methods for Control of Building Structures</h1>
            <h2 class="info-title">Learn more from our Catalogue</h2>
        </header>

        <div class="row">
            <div class="col">
                Already have an account?
                <a href="{% url 'sign in' %}" class="button">Sign in</a>
            </div>
            <div class="col">
                Do not have an account?
                <a href="{% url 'sign up' %}" class="button">Sign up</a>
            </div>
        </div>

    </section>
{% endblock %}
