{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/details-test.css' %}">
{% endblock %}

{% block site_title %}
    Add a Non-destructive Test
{% endblock %}

{% block site_content %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Create</button>
        </form>

{#    <div class="test-image">#}
{#        <img src="{{ ndt.image }}" alt="image of {{ ndt.name }}">#}
{#    </div>#}
{#    <div class="test-info">#}
{#        <ul class="list-test-details list-horizontal">#}
{#            <li class="list-item"><span class="underline">Test:</span> {{ ndt.name }}</li>#}
{#            <li class="list-item"><span class="underline">Standard:</span> {{ ndt.standard }}</li>#}
{#        </ul>#}
{#        <p>Description: {{ ndt.description }}</p>#}
{##}
{#        <div class="test-buttons">#}
            {#    <a class="button button-blue" href="{% url 'order test' test.id %}">Order</a>#}
{#            <a href="{% url 'order test' test.id %}"><i class="far fa-heart"></i></a>#}
{#        </div>#}
{#        Ordered: {{ test.order_set.count }}#}
{#    </div>#}

{% endblock %}