{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/details-test.css' %}">
{% endblock %}

{% block site_title %}
    Add a Non-Destructive Test Method
{% endblock %}

{% block site_content %}

        <form action="{% url 'create ndt' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-success" type="submit">Create</button>
        </form>

{% endblock %}




{#        <div class="test-buttons">#}
            {#    <a class="button button-blue" href="{% url 'order test' test.id %}">Order</a>#}
{#            <a href="{% url 'order test' test.id %}"><i class="far fa-heart"></i></a>#}
{#        </div>#}
{#        Ordered: {{ test.order_set.count }}#}
{#    </div>#}
