{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link  rel="stylesheet" href="{% static 'css/list-tests.css' %}">
{% endblock %}


{% block site_content%}
    <h1>All NDT Tests</h1>
    <ul class="list-horizontal list-tests">
        {% for test in ntds %}
            <li class="list-item">
                <img src="{{ test.image_url }}" alt="image of {{ test.title }}"/>
                <div class="test-details">
                    <p class="test-info">{{ test.title }} {{ test.standard }}</p>
                    <p class="test-description">{{ test.description }}</p>
                    <div class="test-buttons">
                        {#    <a class="button button-blue" href="/ndt_tests/details/{{ test.id }}"> {{ test.title }}</a>#}
                        <a class="button button-blue" href="{%  url 'test details' test.id %}">{{ test.title }}</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}